*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;

    line-height: 1.5;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;

    height: 100%;
}

body {
    height: 100%;
}

header {
    text-align: center;
    font-size: 3rem;

    position: relative;
}

.add-button {
    position: absolute;

    height: 2rem;
    width: 2rem;

    font-size: 1.8rem;
    font-weight: bold;
    color: rgb(44, 44, 44);

    bottom: 1rem;
    right: 2rem;
}

main {
    padding: 1rem;

    height: 100%;
}

.shelf {
    border: 2px solid brown;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;

    position: relative;
}

.game-card {
    /* border: 2px solid green; */

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    
    position: relative;
}

.image-wrapper {
    height: 18rem;
}

.game-image {
    height: 100%;
    border-radius: 0.5rem;
}

.title {
    font-size: 1.2rem;
}

.year {
    color: rgba(0, 0, 0, 0.5);
}

.game-delete {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 1rem;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    transition: ease-in-out 0.1s;

    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
}

.game-delete:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.game-form {
    height: 45rem;
    width: 35rem;
    padding: 2rem;

    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;

    border: 2px solid green;
    border-radius: 0.5rem;
}

input {
    height: 2rem;
    width: 100%;
    margin-bottom: 1rem;
    padding-left: 0.5rem;
    font-size: 1rem;
    border-radius: 0.3rem;

    display: block;
}

label {
    margin-bottom: 0.5rem;
    display: block;
}

#year {
    width: 5rem;
}

.radio {
    width: 1rem;
    height: 1rem;
}

#rating {
    display: flex;
    gap: 1.2rem;
}

#submit {
    display: block;
    height: 2.5rem;
    width: 8rem;
    font-size: 1rem;
    background-color: white;
    border-radius: 0.5rem;

    margin: 3rem auto;
}

.hidden {
    display: none;
}