*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;

    line-height: 1.5;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;

    height: 100%;
}

body {
    height: 100%;
}

header {
    text-align: center;
    font-size: 3rem;

    position: relative;
}

.add-button {
    position: absolute;

    height: 2rem;
    width: 2rem;

    font-size: 1.8rem;
    font-weight: bold;
    color: rgb(44, 44, 44);

    bottom: 1rem;
    right: 2rem;
}

main {
    padding: 1rem;

    height: 100%;
}

.shelf {
    border: 2px solid brown;
    padding: 2rem;
    display: flex;
}